@import "../../utils/constants.scss";

.Kyc {
    padding: 1rem 2rem;
    overflow-x: auto;

    .container {
        min-width: 1080px;
        padding: 1rem 2rem;
        background-color: rgba(0, 0, 0, .4);
        border-radius: 10px;
    }

    .icon {
        height: 100%;
        fill: currentColor;
    }

    .pager, .pager-dotted, .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer {
        justify-content: flex-end;
    }

    .pager {
        .back, .forward {
            color: $colorYellow;
            border: none;
            outline: none;
            background-color: transparent;
            height: 2rem;
            transform: scale(1);
            transition: transform .25s;

            &:hover {
                transform: scale(1.15);
            }

            &:active {
                transform: scale(.9);
            }

            &:disabled {
                transform: scale(1);
                color: rgba($colorYellow, .4);
            }
        }

        .back {
            margin-right: 1rem;
        }

        .forward {
            margin-left: 1rem;
        }

        .dotted {
            width: .75rem;
            height: .75rem;
            margin-right: .5rem;
            background-color: rgba(darken(#fff, 20), .4);
            border-radius: 100px;
            transition: width .25s;

            &:last-child {
                margin-right: 0;
            }

            &.active {
                background-color: $colorYellow;
                width: 2rem;
            }
        }
    }

    .buttons-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem 0;
        margin-top: auto;

        button {
            width: 120px;
            font-size: 1rem;
            font-weight: bold;
            transition: opacity .3s;

            &:first-child {
                background-color: $colorRed;
            }

            &:last-child {
                background-color: $colorYellow;
            }

            &:disabled {
                opacity: .5;
            }
        }
    }
}