@import "../../utils/constants.scss";

.Kyc {
    padding: 1rem 2rem;
    overflow-x: auto;

    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40%;
        min-height: 300px;
        min-width: 450px;
        max-width: 750px;
        padding: 1rem 2rem;
        border-radius: 7px;
        background-color: rgba(#000, .4);
        transform: translate(-50%, -50%);

        .indicator {
            display: block;
            margin: 0 auto;
            margin-bottom: 1.5rem;
            height: 5rem;
            
            path {
                fill: $colorYellow;
            }
        }

        p{
            text-align: center;
            line-height: 1.5;
            margin-bottom: 1rem;

            strong {
                color: $colorSecondary
            }

            &.selector-title {
                margin-top: 1rem;
                font-size: 1.5rem;
            }
        }

        .action-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            &.center {
                justify-content: space-evenly;
            }

            .selector {
                border: none;
                outline: none;
                background-color: $colorYellow;
                color: #1d1d1d;
                border-radius: 7px;
                width: 25%;
                height: 150px;
                margin-bottom: 1rem;
                padding: .5rem;
                font-size: 1rem;
                font-weight: bold;
                transition: background-color .25s, transform .25s;
                transform: scale(1);
                cursor: pointer;

                .icon {
                    height: 100px;
                    margin-bottom: .5rem;
                }

                &:hover {
                    background-color: darken($colorYellow, 7);
                }

                &:active {
                    transform: scale(.95);
                }
            }

            .back {
                background-color: $colorRed;

                &:hover {
                    background-color: darken($colorRed, 5);
                    box-shadow: 0 0 0 3px rgba($colorRed, .4);
                }
            }

            .forward {
                background-color: $colorYellow;

                &:hover {
                    background-color: darken($colorYellow, 5);
                    box-shadow: 0 0 0 3px rgba($colorYellow, .4);
                }
            }
        }
    }

    .container {
        min-width: 1080px;
        padding: 1rem 2rem;
        background-color: rgba(0, 0, 0, .4);
        border-radius: 10px;
    }

    .icon {
        height: 1.25rem;
        fill: currentColor;

        path, rect {
            fill: currentColor;
        }
    }

    .pager, .pager-dotted, .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer {
        justify-content: flex-end;
    }

    .pager {
        .back, .forward {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: #1d1d1d;
            border: none;
            outline: none;
            background-color: $colorSecondary;
            font-size: 1rem;
            font-weight: bold;
            padding: .5rem;
            height: 2.5rem;
            transform: scale(1);
            border-radius: 25px;
            transition: transform .25s;

            &:hover {
                //transform: scale(1.025);
                background-color: darken($color: $colorSecondary, $amount: 7);
            }

            &:active {
                transform: scale(.95);
            }

            &:disabled {
                transform: scale(1);
                background-color: rgba($colorSecondary, .4);
            }
        }

        .back {
            margin-right: 1rem;
            padding-right: 1rem;
        }

        .forward {
            margin-left: 1rem;
            padding-left: 1rem;

            .icon {
                margin-left: 5px;
            }
        }

        .cancel {
            background-color: $colorRed !important;
            .icon {
                height: .9rem;
                margin: 0 !important;
            }

            &:hover {
                box-shadow: 0 0 0 3px rgba($colorRed, .4);
            }
        }

        .dotted {
            width: .75rem;
            height: .75rem;
            margin-right: .5rem;
            background-color: rgba(darken(#fff, 20), .4);
            border-radius: 100px;
            transition: width .25s;

            &:last-child {
                margin-right: 0;
            }

            &.active {
                background-color: $colorSecondary;
                width: 2rem;
            }
        }
    }

    textarea.text-input {
        display: block;
        width: calc(100% - 2rem);
        height: 7rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .toshow {
        animation: toshow .5s linear;
        transform-origin: left center;

        @keyframes toshow {
            from {
                //transform: scale(0);
                opacity: 0;
            }
        }
    }
}