@import "../../utils/constants.scss";

svg.loader-sponsors {
  display: block;
  margin: 2em auto;
}

div.container-sponsors {
  .row-header {
    margin: 25px 0;
    padding: 0 25px;

    span.label {
      color: $colorYellow;
      font-size: 12px;
    }

    .content-info {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      .col {
        display: flex;
      }

      input.search {
        width: 256px;
      }

      input.text-input.large {
        font-size: 24px;
        margin-right: 10px;
        width: 480px;
      }
    }
  }

  .content-tables {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;

    .table {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 25px;
      border-radius: 10px;
      width: 47%;

      h2.title {
        color: $colorYellow;

        &.right {
          text-align: right;
          margin-bottom: 25px;
        }
      }

      .content-data {
        height: 50vh;
        overflow: auto;

        &.empty {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;

          img {
            width: 256px;
          }

          h2 {
            font-weight: normal;
            margin-top: 10px;
          }
        }

        .header {
          border-bottom: 2px solid $colorSecondary;
          color: $colorSecondary;
          padding: 10px 0;
          display: flex;
          justify-content: space-between;

          span {
            width: 20%;
            font-size: .9rem;
            text-align: center;

            &:first-child {
              text-align: left;
            }

            &:last-child {
              text-align: right;
              width: 15%;
            }
          }
        }

        .body {
          .row {
            border-bottom: 1px solid #fff;
            padding: 15px 0;
            display: flex;
            justify-content: space-between;
            font-size: .9rem;

            span {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              text-align: center;
              width: 20%;

              &:first-child {
                text-align: left;
              }

              &:last-child {
                text-align: right;
                width: 15%;
              }
            }
          }
        }

        .footer {
          text-align: right;
          margin-top: 10px;
          font-size: 1.2em;
        }
      }
    }
  }
}
