@import '../../utils/constants.scss';

.sponsors {
  width: 90%;
  margin: 25px auto;
  max-width: 600px;
}

.sponsors__title {
  color: $greenColor;
  margin-bottom: 32px;
}

.list-of-sponsors {
  margin-top: 25px;
}

.sponsor__card {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.three__columns {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: minmax(100px, 1fr) repeat(auto-fit, minmax(70px, 1fr));
}

.link__sponsor--container {
  margin-top: 8px;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 50px;
  grid-gap: 8px;
  align-items: center;
}

.link__sponsor--text {
  color: rgba($color: #000000, $alpha: 0.87);
  background-color: $greenColor;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  overflow: auto;
}

.link__sponsor--button {
  border: none;
  outline: none;
  background-color: $greenColor;
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
}

.icon__copy {
  width: 22px;
  height: 22px;
}

.sponsor__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.sponsor__label {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 2px;

  color: rgba(255, 255, 255, 0.57);
}

.sponsor__value {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
  &.name {
    font-weight: bold;
    margin-bottom: 16px;
  }
}

.search__group {
  margin-top: 64px;
  display: flex;
  flex-direction: column;

  & > label {
    margin-bottom: 5px;
  }
}

.empty__comission {
  text-align: center;
  display: grid;
  margin: 32px auto;
  max-width: 400px;
  width: 90%;
  grid-gap: 16px;
  grid-template-rows: 1fr min-content min-content;
  justify-items: center;

  & img {
    text-align: center;
    width: 100%;
    max-width: 300px;
  }
}

.commissions__total {
  padding-bottom: 32px;
}

.commissions__total--group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  @media (min-width: 380px) {
    margin-bottom: 8px;

    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.sponsor__icon {
  width: 22px;
  height: 22px;
  margin-left: 5px;
  &.small {
    width: 16px;
    height: 16px;
    margin-left: 0px;
    margin-right: 5px;
  }
}

.align__vertical {
  display: flex;
  align-items: center;
}
