@import "../../utils/constants.scss";

$colorContainer: rgba(0, 0, 0, 0.5);

div.container-dashboard {
  animation: fadeEffect 0.5;
  height: 100%;
  width: 100%;

  .content-dashboard {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding: 0 25px;

    .content {
      // background-color: red;
      overflow: auto;
      width: 48%;

      h1 {
        margin: 25px 0;
        text-align: center;
      }

      .disabled {
        opacity: 0.2;
      }

      .card {
        border-radius: 10px;
        background-color: $colorContainer;
        margin-top: 25px;
        padding: 20px;

        &.chart {
          width: 100%;

          svg {
            height: 512px;

            .ct-area {
              color: $colorSecondary !important;
            }
            .ct-series-a .ct-bar,
            .ct-series-a .ct-line,
            .ct-series-a .ct-point,
            .ct-series-a .ct-slice-donut {
              stroke: $colorYellow;
            }
            .ct-series-b .ct-bar,
            .ct-series-b .ct-line,
            .ct-series-b .ct-point,
            .ct-series-b .ct-slice-donut {
              stroke: rgb(216, 52, 52);
            }

            span.ct-label {
              color: #fff;
              font-size: 0.5em;
            }
          }
        }

        &.details {
          display: flex;
          flex-direction: column;

          .row {
            display: flex;
            margin: 20px 0;
            flex-direction: row;
            justify-content: space-between;

            .col {
              h2,
              span {
                color: $colorSecondary;
              }

              h2.big {
                font-size: 2em;
              }

              &.yellow {
                text-align: right;
                h2 {
                  color: $colorYellow;
                }
              }
            }
          }
        }

        &.profit-table {
          margin-bottom: 25px;

          .table {
            .header {
              border-bottom: 2px solid $colorSecondary;
              padding: 10px 0;
              display: flex;
              justify-content: space-between;

              span {
                color: $colorSecondary;
                font-weight: bolder;
                font-size: 1.2em;
              }
            }

            .body {
              &.hidden {
                overflow: hidden;
                height: 250px;
              }

              .row {
                border-bottom: 1px solid #fff;
                display: flex;
                justify-content: space-between;
                padding: 10px 0;

                &.paymented {
                  opacity: 0.5;
                }
              }
            }

            .footer {
              align-items: center;
              display: flex;
              margin-top: 25px;
              justify-content: flex-end;

              &.more {
                cursor: pointer;
                justify-content: space-between !important;
              }

              .show-more {
                color: $colorSecondary;
              }

              .content-total {
                font-size: 1.5em;

                .total {
                  color: $colorSecondary;
                  font-weight: bolder;
                  margin-right: 10px;
                }
              }
            }
          }

          h2.empty {
            font-weight: normal;
            margin: 25px 0;
            text-align: center;
          }
        }
      }
    }
  }
}
