.Dashboard {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.plan__container {
  margin-top: 32px;
  display: grid;
  grid-column-gap: 5%;
  grid-row-gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.graphic__container {
  margin-top: 64px;
  height: 300px;
  max-height: 300px;
}

.profits__container {
  margin-top: 64px;
}

.switcher {
  margin-left: 16px;

  width: 120px;
  background: rgba($color: #fff, $alpha: 0.2);
  border-radius: 8px;
  display: flex;
  & .icon__button {
    width: 60px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }

    & .switch__icon {
      width: 32px;
      height: 32px;
    }

    &.active {
      background: rgba(0, 0, 0, 0.4);
    }
  }
}
.greeting {
  margin-top: 25px;
}

.calendar__container {
  border-radius: 8px;
  overflow: auto;
}

.profits__filter--container {
  width: 100%;
  display: grid;

  grid-template-columns: 1fr;
  align-items: end;
  @media (min-width: 400px) {
    grid-template-columns: 1fr 1fr;
  }

  grid-column-gap: 16px;
  grid-row-gap: 4px;

  & .profits__filter--buttons {
    display: flex;
    justify-content: flex-start;

    @media (min-width: 400px) {
      justify-content: flex-end;
    }
  }
}

button.btn-date {
  background: rgba($color: #fff, $alpha: 0.2);
  border-radius: 8px;
}
