@import "../../utils/constants.scss";

div.container-buy-plan {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;

  img.logo-crypto {
    // margin: 25px 0;
    width: 30%;
  }

  h2 {
    margin: 20px 0;
  }

  .row {
    margin-bottom: 25px;
    width: 60%;

    .aproximateAmount-legend {
      font-size: .75rem;
      margin-top: 5px;
    }

    &.airtm-transaction {
      align-items: center;
      display: flex;
      justify-content: flex-end;

      input {
        margin-left: 5px;
      }
    }


    .picker,
    .text-input {
      margin-top: 10px;
      width: 100%;
    }

    &.wallets {
      display: flex;
      overflow: hidden;
      flex-direction: column;


      span.wallet {
        background-color: $colorYellow;
        border-radius: 3px;
        color: #2d2d2d;
        cursor: pointer;
        text-align: center;
        margin-top: 10px;
        padding: 5px;
        width: 100%;
      }
    }
  }
}
