@import "../../utils/constants.scss";

div.container-buy-plan {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;

  img.logo-crypto {
    margin: 25px 0;
    width: 30%;
  }

  .row {
    margin-bottom: 25px;
    width: 60%;
    .picker,
    .text-input {
      margin-top: 10px;
      width: 100%;
    }

    &.wallets {
      display: flex;
      flex-direction: column;


      span.wallet {
        background-color: $colorYellow;
        border-radius: 3px;
        color: #2d2d2d;
        cursor: pointer;
        text-align: center;
        margin-top: 10px;
        padding: 5px;
        width: 100%;
      }
    }
  }
}
