@import '../../utils/constants.scss';

.container-support {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.tooltip {
  margin-right: 16px;
  color: $greenColor;
  font-weight: bold;
  display: none;
  animation: fadeInEffect 0.5s;
  transition: $transition;
}

.button-support {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $greenColor;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 10px 20px;

  transition: $transition;

  @media (min-width: 580px) {
    padding: 16px;
    right: 25px;
    bottom: 25px;
  }

  &:hover ~ .tooltip {
    display: block;
  }
}

.support__icon {
  width: 22px;
  height: 22px;
  @media (min-width: 580px) {
    width: 32px;
    height: 32px;
  }
}
