@import "../../utils/constants.scss";

div.container-register {
  animation: fadeEffect 1s;
  align-items: flex-end;
  // align-content: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;

  .cover-image {
    background-image: url(../../static/images/cover-login.jpg);
    background-position-y: 60%;
    background-position-x: 50%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    flex: 1;
    opacity: 0.8;
    height: 100vh;
  }

  .form-container {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: auto;
    width: 480px;

    .sponsor-message {
      padding: 10px;
      text-align: center;

      &.valid {
        background-color: $colorSecondary;
        color: #2d2d2d;
      }
      &.invalid {
        background-color: $colorRed;
      }
    }

    h2 {
      text-align: center;
      margin: 10px 0;
    }

    img.image-logo {
      max-width: 40%;
      align-self: center;
    }

    .tab {
      animation: fadeEffect 1s;
      padding: 0 5%;

      &.hidden {
        display: none;
      }

      .row {
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
        margin: 15px 0;

        span {
          // background-color: yellow;
          margin-bottom: 5px;
          position: relative;

          &.required::before {
            background-color: red;
            font-size: 8px;
            right: 0%;
            border-radius: 2px;
            content: 'requerido';
            position: absolute;
            padding: 3px;
          }

          &.comprobate {
            align-items: center;
            display: flex;
            flex-direction: row;

            svg {
              margin-left: 5px;
            }

            span {
              font-size: 12px;
              margin-left: 15px;
              padding: 5px;
              border-radius: 5px;

              &.invalid {
                background-color: red;
              }

              &.valid {
                background-color: $colorYellow;
                color: #1d1d1d;
              }
            }
          }

          &.wallet-direction {
            background-color: $colorYellow;
            border-radius: 3px;
            color: #2d2d2d;
            cursor: pointer;
            text-align: center;
            margin-top: 10px;
            padding: 5px;
            width: 100%;
          }
        }

        &.investment-plan {          
          .plan {
            margin-top: 10px;
            columns: 2;
            
            div.element {
              margin: 10px 0;

              label {
                font-size: 1.2em;
                margin-left: 5px;
              }
            }
          }
        }

        .airtm-row {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          margin-top: 5px;

          input {
            margin-left: 5px;
            border-radius: 50%;
            overflow: hidden;
          }
        }
      }

      .terms {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 20px 0;

        label {
          margin-right: 10px;
        }
      }

      .collection-buttons {
        align-items: center;
        display: flex;
        justify-content: space-between;

        &.flex-end {
          justify-content: flex-end;
        }
      }
    }

    .read-term {
      margin: 20px 0;
      text-align: center;

      a {
        color: #fff;
      }
    }
  }
}