@import '../../utils/constants.scss';

.EmptyPlan {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 5%;
    text-align: center;
    display: grid;
    grid-gap: 8px;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(3, min-content);
}

.empty__plan--icon {
    width: 48px;
    height: 48px;
    margin-bottom: 0;

    @media (min-width: $tablet-big) {
        width: 54px;
        height: 54px;
    }
}

button.acquire__button {
    padding: 4px;
    margin: 16px auto 0 auto;
    width: 100%;
    max-width: 200px;
    font-style: normal;
    font-weight: bold;
}
