@import '../../utils/constants.scss';

.modal__terms {
  position: relative;
  border-radius: 8px;
  background-color: $colorMain;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  max-width: 700px;
  width: 100%;
  padding: 16px;

  img {
    display: block;
    width: 50%;
    min-width: 250px;
    margin: 0 auto;
    object-fit: contain;
  }
}

.modal__title {
  font-size: 18px;
  color: $greenColor;
  text-align: center;
  margin-bottom: 16px;
}

.terms__contain {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.003em;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 22px;
}

.close__modal--icon {
  cursor: pointer;
  width: 22px;
  height: 22px;
}
