@import '../../utils/constants.scss';

.PasswordField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #1d1d1d;
  border: 2px solid #000;
  border-radius: 3px;
  color: #fff;
  overflow: hidden;

  &.invalid {
    box-shadow: $colorRed 0px 0px 1px 1px;
  }

  &:focus-within {
    box-shadow: $animationShadow;
  }

  input, div {
    border: none;
    outline: none;
  }

  input {
    width: calc(100% - 3rem);
    background-color: inherit;
    color: inherit;
    padding: 8px;
    transition: $transition;

    &:invalid {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  div {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 5px;
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M15%2012c0%201.654-1.346%203-3%203s-3-1.346-3-3%201.346-3%203-3%203%201.346%203%203zm9-.449s-4.252%208.449-11.985%208.449c-7.18%200-12.015-8.449-12.015-8.449s4.446-7.551%2012.015-7.551c7.694%200%2011.985%207.551%2011.985%207.551zm-7%20.449c0-2.757-2.243-5-5-5s-5%202.243-5%205%202.243%205%205%205%205-2.243%205-5z%22%20fill%3D%22rgba(250%2C%20250%2C%20250%2C%200.3)%22%2F%3E%3C%2Fsvg%3E') no-repeat 97% center, transparent;

    &.hide {
      background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M11.885%2014.988l3.104-3.098.011.11c0%201.654-1.346%203-3%203l-.115-.012zm8.048-8.032l-3.274%203.268c.212.554.341%201.149.341%201.776%200%202.757-2.243%205-5%205-.631%200-1.229-.13-1.785-.344l-2.377%202.372c1.276.588%202.671.972%204.177.972%207.733%200%2011.985-8.449%2011.985-8.449s-1.415-2.478-4.067-4.595zm1.431-3.536l-18.619%2018.58-1.382-1.422%203.455-3.447c-3.022-2.45-4.818-5.58-4.818-5.58s4.446-7.551%2012.015-7.551c1.825%200%203.456.426%204.886%201.075l3.081-3.075%201.382%201.42zm-13.751%2010.922l1.519-1.515c-.077-.264-.132-.538-.132-.827%200-1.654%201.346-3%203-3%20.291%200%20.567.055.833.134l1.518-1.515c-.704-.382-1.496-.619-2.351-.619-2.757%200-5%202.243-5%205%200%20.852.235%201.641.613%202.342z%22%20fill%3D%22rgba(250%2C%20250%2C%20250%2C%200.3)%22%2F%3E%3C%2Fsvg%3E') no-repeat 97% center, transparent;
      background-size: cover;
    }
  }

  &:disabled {
    opacity: 0.7;
  }
}