@import "../../utils/constants.scss";

nav.navigation-bar {
    align-items: center;
    // background-color: red;
    display: flex;
    justify-content: space-between;
    // margin-top: 25px;
    padding: 0 25px;
    width: 100%;

    .content-logo {
        position: relative;

        img.brand-logo {
            max-width: 128px;
            position: relative;
    
        }
    }


    div.content-links {
        position: relative;
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            position: relative;
            margin: 0 15px;
            cursor: pointer;
            color: #FFF;
            font-size: 16px;

            transition: $transition;

            &:hover {
                color: $colorSecondary;
            }

            &.active {
                color: $colorSecondary;
            }

            &.app {
                display: flex;
                justify-content: space-between;
                align-items: center;

                img.play-store {
                    max-height: 16px;
                    margin-left: 10px;
                }
            }


            &.comming-soon::before {
                border-radius: 3px;
                content: 'Proximamente';
                font-size: 10px;
                background: #c53c1a;
                bottom: -25px;
                /* left: 50%; */
                position: absolute;
                padding: 5px;
              }
        }
    }

    .dropdown {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: none;
        outline: none;
        padding: .5rem 1rem;
        border-radius: 25px;
        font-size: inherit;
        background-color: transparent;
        color: $colorSecondary;
        border: 2px solid $colorSecondary;

        svg {
            height: 1rem;
            margin-left: .5rem;
            transition: transform .25s;
        }

        .arrow {
            transform: rotate(-90deg);
            polygon {
                fill: $colorSecondary;
                stroke: $colorSecondary;
            }
        }

        .verifyBadget {
            path {
                fill: #2E8B12;
            }
        }

        &.active {
            .arrow {
                transform: rotate(90deg);
            }
        }
    }

    .dropdown-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: calc(100% + 5px);
        right: 0;
        padding: .5rem 0;
        border-radius: 7px;
        text-align: right;
        background-color: $colorMain;
        transform: scaleY(0);
        transform-origin: top center;
        transition: transform .25s;

        a {
            padding: .25rem .75rem;
        }

        &.active {
            transform: scaleY(1);
        }
    }
}