@import "../../utils/constants.scss";

nav.navigation-bar {
    align-items: center;
    // background-color: red;
    display: flex;
    justify-content: space-between;
    // margin-top: 25px;
    padding: 0 25px;
    width: 100%;

    .content-logo {
        position: relative;

        // &::after {
        //     border-radius: 3px;
        //     content: 'BETA';
        //     color: $colorMain;
        //     font-size: 10px;
        //     background: $colorYellow;
        //     bottom: 50%;
        //     right: -36px;
        //     position: absolute;
        //     padding: 5px;
        //   }

        img.brand-logo {
            max-width: 128px;
            position: relative;
    
        }
    }


    div.content-links {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            position: relative;
            margin: 0 15px;
            cursor: pointer;
            color: #FFF;
            font-size: 16px;

            transition: $transition;

            &:hover {
                color: $colorSecondary;
            }

            &.active {
                color: $colorSecondary;
            }

            &.app {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &::before {
                    content: 'En breve' !important;
                    background-color: $colorYellow !important;
                    color: $colorMain;
                }

                img.play-store {
                    max-height: 16px;
                    margin-left: 10px;
                }
            }


            &.comming-soon::before {
                border-radius: 3px;
                content: 'Proximamente';
                font-size: 10px;
                background: #c53c1a;
                bottom: -25px;
                /* left: 50%; */
                position: absolute;
                padding: 5px;
              }
        }
    }
}