@import "./utils/constants.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    238deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(25, 24, 24, 1) 52%,
    rgba(21, 61, 70, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
button,
select,
a {
  outline: none;

  &.text-input {
    background-color: #1d1d1d;
    border: 2px solid #000;
    border-radius: 3px;
    color: #fff;
    padding: 8px;
    transition: $transition;

    &:focus {
      box-shadow: $animationShadow;
    }
  }

  &.button {
    align-items: center;
    background-color: #9ed3da;
    border: none;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    color: #1a1a1a;
    text-transform: uppercase;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    transition: $transition;

    &:disabled {
      opacity: 0.2;
      cursor: default;
    }

    &.no-border {
      border-radius: 5px;
    }

    &.secondary {
      background-color: $colorYellow;
    }

    &.large {
      font-size: 24px;
    }

    &:hover {
      box-shadow: $animationShadow;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &.link {
    cursor: pointer;
    color: $colorSecondary;
    text-decoration: none;
    transition: $transition;

    &:hover {
      text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    }
  }

  &.picker {
    background-color: #1d1d1d;
    border: 2px solid #000;
    border-radius: 3px;
    color: #fff;
    padding: 8px;
    transition: $transition;

    &:focus {
      box-shadow: $animationShadow;
    }
  }

  &[type="radio"].check {
    position: relative;

    &::after {
      content: "";
      background-color: #000;
      border: 1px solid $colorYellow;
      position: absolute;
      left: -2px;
      top: -2px;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      transition: $transition;
    }

    &:checked::after {
      background-color: $colorYellow;
      border-color: #000;
    }

    &:checked ~ label {
      color: $colorYellow;
    }
  }
}

#root {
  height: 100vh;
  width: 100%;
}
