@import "../../utils/constants.scss";

div.progress-bar {
    border: 2px solid $colorSecondary;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    
    .value {
        align-items: center;
        background-color: $colorSecondary;
        color: $colorMain;
        display: flex;
        border-radius: 30px;
        justify-content: center;
        overflow: hidden;
        height: 40px;
        
    }    
}