@import '../../utils/constants.scss';

.card__plan {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 5%;
  max-width: 400px;
}

.plan__header {
  display: flex;
  justify-content: space-between;
}

.plan__name {
  display: flex;

  & .plan__icon--container {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(255, 203, 8, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;

    &.yellow {
      background-color: rgba($color: $colorYellow, $alpha: 0.1);
    }
    &.skyblue {
      background-color: rgba($color: $colorSecondary, $alpha: 0.1);
    }

    & .plan__icon {
      width: 24px;
      height: 24px;
    }
  }
}

.plan__value {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;

  &.bigger {
    font-size: 16px;
    line-height: 20px;
  }

  &.yellow {
    color: $colorYellow;
  }
  &.skyblue {
    color: $colorSecondary;
  }
}

.plan__group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &.left__align {
    align-items: flex-start;
  }
}

.plan__two-columns {
  display: flex;
  justify-content: space-between;
}

.bar__container {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 120px;
  grid-gap: 8px;
  text-align: left;
}

.bar {
  position: relative;
  width: 100%;
  height: 10px;

  border: 1px solid $colorSecondary;
  border-radius: 50px;

  &.yellow {
    border: 1px solid $colorYellow;
  }
}

.bar__progressive {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50px;
  background-color: $colorSecondary;
  &.yellow {
    background-color: $colorYellow;
  }
}

.auto-columns {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 4px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

button.upgrade__button {
  padding: 4px;
  margin: 16px auto 0 auto;
  width: 100%;
  max-width: 200px;
  font-style: normal;
  font-weight: bold;
}
