.date__selector {
  background-color: #1d1d1d;
  border: 2px solid #000;
  border-radius: 3px;
  color: #fff;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 8px;
}
